/* ===== HEADER & NAVIGATION ===== */
.header {
    background-color: var(--primary-color);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* New container to group the logo and text together */
  .brand {
    display: flex;
    align-items: center;
    gap: 7px; /* Adjust this to control spacing */
  }
  
  .logo {
    height: 70px;
    width: auto;
  }
  .navbar span{
      display: block;
      font-size: 30px;
      font-weight: bold;
      color: white;
      margin-left: 5px; /* Reduce or remove this to bring them closer */
      line-height: 1.1; /* Adjust this value as needed */
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-family: var(--font-bold);
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  
  .nav-links a::before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        background: linear-gradient(45deg, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.5),rgba(51, 51, 51, 0.2),transparent);
        z-index: -1;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.3s;
  }
  
  .nav-links a:hover::before {
        opacity: 1;
  }
  /*.nav-links a:hover,*/
  .nav-links a.active {
    background-color: var(--neutral-dark);
  }